<div class="form-container">
    <form [formGroup]="vendaForm" (ngSubmit)="salvarProduto()">
      <mat-form-field class="form-field">
          <mat-label for="produto">Produtos:</mat-label>
          <mat-select id="produto" formControlName="produto" type="text" class="form-control"(valueChange)="ResgataValorProduto($event)">
            @for (produto of produtoList ; track $index) {
                <mat-option value="{{ConvertOptionJson(produto)}}">
                    {{produto.nome}}                
                </mat-option>
            }
        </mat-select> 
          <mat-error>O nome é obrigatório e deve ter no máximo 50 caracteres.</mat-error>
      </mat-form-field>
        
        <mat-form-field class="form-field">

          <mat-label for="qtdProduto">Quantida de Produto:</mat-label>
          <input matInput id="qtdProduto" 
          formControlName="qtdProduto" 
          type="number"
           class="form-control" 
           (change)="CacularTotal($event)"
           />
          <mat-error>
              O tipo de produto é obrigatório.
          </mat-error>
          
        </mat-form-field>
        
        <mat-form-field class="form-field">

          <mat-label for="vlrProduto">Valor Unitario:</mat-label>
          <input matInput id="vlrProduto"
           formControlName="vlrProduto" 
           type="number" 
           class="form-control"
            [value]="vlrProduto"
            [disabled]="disabled"/>
          <mat-error>

            O valor deve ser maior que 0.
          </mat-error>     
                   
          
        </mat-form-field>
        
        <mat-form-field class="form-field">

            <mat-label for="vlrTotal">Valor Total:</mat-label>
            <input matInput id="vlrTotal" formControlName="vlrTotal" type="number" class="form-control" [value]="vlrTotal" [disabled]="disabled"/>
            <mat-error>
  
              O valor deve ser maior que 0.
            </mat-error>     
            
            
          </mat-form-field>
          <br>
          <div class="btn-form">

            <button mat-flat-button type="button" [disabled]="!vendaForm.valid" color="primary" style="margin-right: 5px;" (click)="salvarProduto()">Adicionar Venda</button>
          </div>
      </form>
      <div class="table">
        
        <table mat-table [dataSource]="tableVenda" class="mat-elevation-z8">
          <ng-container matColumnDef="nomeProduto">
            <th mat-header-cell *matHeaderCellDef>Nome Produto</th>
            <td mat-cell *matCellDef="let venda"> {{venda.produto.nome}}</td>
          </ng-container>
          <ng-container matColumnDef="qtdProduto">
          <th mat-header-cell *matHeaderCellDef>Quantidade de Produto</th>
          <td mat-cell *matCellDef="let venda"> {{venda.qtdProduto}}</td>
        </ng-container>
        <ng-container matColumnDef="vlrProduto">
          <th mat-header-cell *matHeaderCellDef>Valor Produto</th>
          <td mat-cell *matCellDef="let venda"> {{venda.produto.vlrProduto}}</td>
        </ng-container>
        <ng-container matColumnDef="vlrTotal">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let venda"> {{venda.vlrTotal}}</td>
        </ng-container>
      <ng-container matColumnDef="btnDelete">
          <th mat-header-cell *matHeaderCellDef=""></th>
          <td mat-cell *matCellDef="let produto">
              <button mat-icon-button color="warn" (click)="RemoverVenda(produto)" title="Remover Venda">
                  <mat-icon><span class="material-symbols-outlined">
                      delete
                      </span></mat-icon>
                    </button>
                  </td>
                </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      <div class="mat-row" *matNoDataRow>
        <p class="mat-cell" colspan="4" style="display:flex; justify-items: center;">Não foi encontrado nenhum produto</p>
      </div>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>        
  </div>
  <div class="btn-form">
    
    <button mat-flat-button type="submit" [disabled]="disabled" color="primary" style="margin-right: 5px;">Finalizar Venda</button>
    <button mat-flat-button type="button" routerLink="" class="btn-Voltar">Voltar</button>
  </div>

    </div>