<div class="form-container">
    <form [formGroup]="produtoForm" (ngSubmit)="salvarProduto()">
      <mat-form-field class="form-field">
        <input id="idProduto" formControlName="idProduto" hidden>
          <mat-label for="nome">Nome:</mat-label>
          <input matInput id="nome" formControlName="nome" type="text" class="form-control" /> 
          <mat-error>O nome é obrigatório e deve ter no máximo 50 caracteres.</mat-error>
      </mat-form-field>
        
        <mat-form-field class="form-field">

          <mat-label for="tpProduto">Tipo de Produto:</mat-label>
          <input matInput id="tpProduto" formControlName="tpProduto" type="text" class="form-control" />
          <mat-error>
              O tipo de produto é obrigatório.
          </mat-error>
          
        </mat-form-field>
        
        <mat-form-field class="form-field">

          <mat-label for="qtdProduto">Quantidade:</mat-label>
          <input matInput id="qtdProduto" formControlName="qtdProduto" type="number" class="form-control" />
          <mat-error>
              A quantidade deve ser no mínimo 1
          </mat-error>
      </mat-form-field>
        
        <mat-form-field class="form-field">

          <mat-label for="vlrProduto">Valor:</mat-label>
          <input matInput id="vlrProduto" formControlName="vlrProduto" type="number" class="form-control" />
          <mat-error>

            O valor deve ser maior que 0.
          </mat-error>     
                   
          
        </mat-form-field>
        <mat-form-field class="form-field w400">
          <mat-label for="descricao">Descrição:</mat-label>
          <textarea matInput id="descricao" formControlName="descricao" class="form-control"></textarea>
          <mat-error> descrição é obrigatória e deve ter no máximo 200 caracteres.</mat-error>
        </mat-form-field>
        <br>
        <div class="btn-form">

          <button mat-flat-button type="submit" [disabled]="!produtoForm.valid" color="primary" style="margin-right: 5px;">Salvar</button>
          <button mat-flat-button type="button" routerLink="" class="btn-Voltar">Voltar</button>
        </div>
      </form>
    </div>